

// Colours
$dark-black: #000;
$light-black:#121212;
// $light-black-alpha:rgba(18,18,18,0.9);
$dark-grey:#2E2F30;
$light-grey:#6C7E8E;
$lightYellow:#FFECCB;
$red:#E8412C;
$white: #fff;
$blue:#157ff2;



body {
	background:$light-grey;
}

h1 {
	color:$white;
}
